body,* {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
table {
	margin: 0 auto;
	background: #edf;
}
td {
	padding: 10px;
}

tr:nth-child(odd) {
	background: #dce;	
}
tr:hover {
	background: #cbd;	
	cursor: pointer;
}

.centerMain {
	margin-top: 30px;
	text-align: center;
}